body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 50px;
}

svg {
  fill: blue; /* Color del icono */
  cursor: pointer;
  transition: transform 0.2s;
}

svg:hover {
  transform: scale(1.5); /* Agranda al pasar el mouse */
}
